.btn {
    -fx-background-insets: 0 ;
    -fx-background-color: transparent;
}

.btn:hover {
    -fx-background-color: #BBBBBB;
}

.toolbar {
    -fx-background-color: #DDDDDD;
}

.menu {
    -fx-background-color: transparent;
    -fx-min-width: 50.0;
    -fx-padding: 3 5 3 5;
}

.menu .label{
    -fx-text-fill: black;
}

.menu:hover {
    -fx-background-color: #BBBBBB;
}

.menu .label:hover{
    -fx-text-fill: black;
}

.colorPicker {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.colorPicker:hover, .colorPicker:pressed {
    -fx-background-color: #BBBBBB;
}

.canvas {
    -fx-background-color: white;
}